<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>健身俱乐部管理系统</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="../css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="../css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="../css/style.min.css?v=4.0.0" rel="stylesheet">
    <base target="_blank">
    <link href="../css/bodybuilder.css" rel="stylesheet">
    <link href="../css/plugins/toastr/toastr.min.css" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
        
        #if("$!pv" == "")
        	<h2>暂无健身方案，等待录入体测数据或者等待教练生成方案</h2>
        #else
        	<h2>健身方案（$!pv.cfmd）</h2>
        #end
        <ol class="breadcrumb">
            <li>
                <span>方案编号：#if("$!no" == "") 暂无  #else $!no #end</span>
            </li>
            <li>
                <span>制作者编号：#if("$!pv.teacherNo" == "") 暂无  #else $!pv.teacherNo #end</span>
            </li>
        </ol>
    </div>
    <div class="col-sm-4">
        <div class="title-action">
         <!--   <a onClick="showtoast()" class="btn btn-primary">生成健身方案</a> -->
        </div>
    </div>
</div>
#if("$!{pv}" == "")

#else
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>运动方案</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>天数</th>
                            <th>项目</th>
                            <th>负荷</th>
                            <th>时间/间隔</th>
                            <th>组数/次数</th>
                            <th>动作要点</th>
                            <th>注意事项</th>
                        </tr>
                        </thead>
                        <tbody>
                        #foreach($!items in $!pv.items)
                        	#set($days = $!{velocityCount})
                        	#foreach($!item in $!items)
                        		<tr>
                            		#if("$!{velocityCount}" == "1")<td rowspan="$!{items.size()}">第$days天</td>#end
                            		<td>$!item.name</td>
                           		    <td>$!item.load</td>
                          		    <td>$!item.interval</td>
                          		    <td>$!item.number</td>
                          		    <td>$!item.points</td>
                        		    <td>$!item.matter</td>
                       			 </tr>
                        	#end
                        #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>饮食方案</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th rowspan="2">天数</th>
                            <th colspan="2">早餐</th>
                            <th colspan="2">中餐</th>
                            <th colspan="2">晚餐</th>
                        </tr>
                        <tr>
                            <th>食物名称</th>
                            <th>食用量</th>
                            <th>食物名称</th>
                            <th>食用量</th>
                            <th>食物名称</th>
                            <th>食用量</th>
                        </tr>
                        </thead>
                        <tbody>
                        #foreach($!foods in $!pv.foods)
                        	#set($days = $!{velocityCount})
                        	#foreach($!food in $!foods)
                        		<tr>
                            		#if("$!{velocityCount}" == "1")<td rowspan="$!{foods.size()}">第$days天</td>#end
                            		<td>$!food.name1</td>
                           		    <td>$!food.num1</td>
                          		    <td>$!food.name2</td>
                          		    <td>$!food.num2</td>
                          		    <td>$!food.name3</td>
                        		    <td>$!food.num3</td>
                       			 </tr>
                        	#end
                        #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>健身注意点</h5>
                </div>
                <div class="ibox-content">
                    <p>$!pv.jszyd</p>
                </div>
            </div>
        </div>
    </div>
</div>
#end
<script src="../js/jquery.min.js?v=2.1.4"></script>
<script src="../js/bootstrap.min.js?v=3.3.5"></script>
<script src="../js/content.min.js?v=1.0.0"></script>
<script src="../js/plugins/toastr/toastr.min.js"></script>
<script type="text/javascript">
    function showtoast() {

        toastr.options = {
            "closeButton": true,
            "debug": true,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "7000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.info("Hi, welcome to hplus. This is example of Toastr notification box.");
    }
</script>
</body>

</html>