<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>健身俱乐部管理系统</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="../css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="../css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/style.min.css?v=4.0.0" rel="stylesheet">
    <base target="_blank">
    <link href="../css/bodybuilder.css" rel="stylesheet">

</head>

<body class="gray-bg">

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>器材添加</h5>
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">


                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">器材名称</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="name" name="" class="form-control"
                                                   placeholder="请输入数据">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">锻炼部位</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="part" name="" class="form-control"
                                                   placeholder="请输入数据">
                                        </div>
                                    </div>


                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">使用说明</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="useway" name="" class="form-control"
                                                   placeholder="请输入数据">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">注意事项</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="useattention" name="" class="form-control"
                                                   placeholder="请输入数据">
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <div class="col-sm-12">
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-primary" id="add" type="button">确认添加</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>器材列表</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">

                        <div class="col-sm-4 pull-right">
                            <div class="input-group">
                                <input type="text" placeholder="请输入关键词" class="input-sm form-control"> <span
                                    class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"> 搜索</button> </span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>器材编号</th>
                                <th>器材名称</th>
                                <th>锻炼部位</th>
                                <th>使用说明</th>
                                <th>注意事项</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="equipment_list">
                            <tr>
                                <td>G679</td>
                                <td>杠铃</td>
                                <td>手臂</td>
                                <td>按说明书使用</td>
                                <td>注意安全</td>
                                <td>
                                    <a id="add"><i class="fa fa-pencil text-navy"></i></a>
                                    <a id="delete"><i class="fa fa-close text-navy"></i></a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<script src="../js/jquery.min.js?v=2.1.4"></script>
<script src="../js/bootstrap.min.js?v=3.3.5"></script>
<script src="../js/content.min.js?v=1.0.0"></script>
<script src="../js/plugins/layer/layer.js"></script>
<script src="../js/manage/equipment.js"></script>
<script type="text/javascript">
   /* $('#delete').on('click', function () {
        layer.msg('确定删除吗？', {
            time: 0 //不自动关闭
            , btn: ['确定删除', '还是算了吧']
            , yes: function (index) {
                layer.close(index);
                alert("你点了确定");
            }
        });
    });*/

    $('#add').on('click', function () {
        layer.open({
            type: 2,
            title: '信息修改',
            area: ['600px', '360px'],
            shadeClose: true, //点击遮罩关闭
            content: '111'

        });
    });


</script>
</body>

</html>