<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>健身俱乐部管理系统</title>

    <link rel="shortcut icon" href="favicon.ico"> <link href="../css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="../css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
    <link href="../css/bodybuilder.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>会员添加</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="get" class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-6">


                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">姓名</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="name" name="" class="form-control" placeholder="请输入数据">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">性别</label>
                                            <div class="col-sm-8">
                                                <input type="radio" id="sex" value="1" name="sex" >男
                                                <input type="radio" id="sex" value="2" name="sex" >女
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">出生年月</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="birthday" name="" class="form-control" placeholder="请输入数据">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">身份证号</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="sfid" name="" class="form-control" placeholder="请输入数据">
                                            </div>
                                        </div>



                                    </div>
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">联系电话</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="phone" name="" class="form-control" placeholder="请输入数据">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">职业</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="job" name="" class="form-control" placeholder="请输入数据">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">邮箱</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="email" name="" class="form-control" placeholder="请输入数据">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">籍贯</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="jg" name="" class="form-control" placeholder="请输入数据">
                                            </div>
                                        </div>

                                    </div>
                                    
                                </div>
                                <div class="col-sm-12">
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button class="btn btn-primary" id="submit" type="button">确认修改</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>会员列表</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            
                            <div class="col-sm-4 pull-right">
                                <div class="input-group">
                                    <input type="text" placeholder="请输入关键词" class="input-sm form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"> 搜索</button> </span>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>会员编号</th>
                                        <th>姓名</th>
                                        <th>性别</th>
                                        <th>出生年月</th>
                                        <th>身份证号</th>
                                        <th>联系电话</th>
                                        <th>职业</th>
                                        <th>邮箱</th>
                                        <th>籍贯</th>
                                        <th>健身方案编号</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id="student_list">
                                    <tr>
                                        <td>840000</td>
                                        <td>王小明</td>
                                        <td>男</td>
                                        <td>1976.03.05</td>
                                        <td>30972487927495837</td>
                                        <td>13800000000</td>
                                        <td>学生</td>
                                        <td>30972@163.com</td>
                                        <td>浙江杭州</td>
                                        <td>30972487</td>
                                        <td>
                                            <a id="add"><i class="fa fa-pencil text-navy"></i></a>
                                            <a id="delete"><i class="fa fa-close text-navy"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>840000</td>
                                        <td>王小明</td>
                                        <td>男</td>
                                        <td>1976.03.05</td>
                                        <td>30972487927495837</td>
                                        <td>13800000000</td>
                                        <td>学生</td>
                                        <td>30972@163.com</td>
                                        <td>浙江杭州</td>
                                        <td>30972487</td>
                                        <td>
                                            <a href=""><i class="fa fa-pencil text-navy"></i></a>
                                            <a href=""><i class="fa fa-close text-navy"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="../js/jquery.min.js?v=2.1.4"></script>
    <script src="../js/bootstrap.min.js?v=3.3.5"></script>
    <script src="../js/content.min.js?v=1.0.0"></script>
    <script src="../js/plugins/layer/layer.js"></script>
    <script type="text/javascript">
    $('#delete').on('click', function(){
        layer.msg('确定删除吗？', {
            time: 0 //不自动关闭
            ,btn: ['确定删除', '还是算了吧']
            ,yes: function(index){
                layer.close(index);
                alert("你点了确定");
            }
        });
    });

    $('#add').on('click', function(){
        layer.open({
            type: 2,
            title: '信息修改',
            area: ['600px', '360px'],
            shadeClose: true, //点击遮罩关闭
            content: 'manage_admin_useredit_layer.html'

        });
    });

        

    </script>
</body>

</html>