<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>健身俱乐部管理系统</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="../css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="../css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/style.min.css?v=4.0.0" rel="stylesheet">
    <base target="_blank">
    <link href="../css/bodybuilder.css" rel="stylesheet">

</head>

<body class="gray-bg">


<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>评价标准制定</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <select id="name" class="form-control m-b">
                                <option value="">选择运动项</option>
                                <option value="bmi">BMI</option>
                                <option value="pulmonary">肺活量</option>
                                <option value="tjsy">台阶试验</option>
                                <option value="wl">握力</option>
                                <option value="ywqz">仰卧起坐</option>
                                <option value="fwc">俯卧撑</option>
                                <option value="zwtqq">坐位体前屈</option>
                            </select>
                        </div>
                        <div class="col-sm-8 ">
                            <button class="btn btn-primary pull-right" id="save" type="button">保存内容</button>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>性别</th>
                            <th>年龄范围</th>
                            <th>1分</th>
                            <th>2分</th>
                            <th>3分</th>
                            <th>4分</th>
                            <th>5分</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="boy">
                            <td rowspan="4">男</td>
                            <input type="hidden"  value="1" class="age">
                            <td>15~24</td>
                            <td><input type="text" class="one value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="two value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="three value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="four value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="five value" placeholder="输入该分值最低数值"></td>
                        </tr>
                        <tr class="boy">
                            <td>25~34</td>
                            <input type="hidden" value="2" class="age">
                            <td><input type="text" class="one value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="two value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="three value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="four value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="five value" placeholder="输入该分值最低数值"></td>
                        </tr>
                        <tr class="boy">
                            <td>35~44</td>
                            <input type="hidden" value="3" class="age">
                            <td><input type="text" class="one value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="two value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="three value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="four value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="five value" placeholder="输入该分值最低数值"></td>
                        </tr>
                        <tr class="boy">
                            <td>45~55</td>
                            <input type="hidden" value="4" class="age">
                            <td><input type="text" class="one value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="two value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="three value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="four value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="five value" placeholder="输入该分值最低数值"></td>
                        </tr>
                        <tr class="girl">
                            <td rowspan="4">女</td>
                            <td>15~24</td>
                            <input type="hidden" value="1" class="age">
                            <td><input type="text" class="one value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="two value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="three value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="four value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="five value" placeholder="输入该分值最低数值"></td>
                        </tr>
                        <tr class="girl">
                            <td>25~34</td>
                            <input type="hidden" value="2" class="age">
                            <td><input type="text" class="one value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="two value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="three value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="four value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="five value" placeholder="输入该分值最低数值"></td>
                        </tr>
                        <tr class="girl">
                            <td>35~44</td>
                            <input type="hidden" value="3" class="age">
                            <td><input type="text" class="one value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="two value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="three value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="four value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="five value" placeholder="输入该分值最低数值"></td>
                        </tr>
                        <tr class="girl">
                            <td>45~55</td>
                            <input type="hidden" value="4" class="age">
                            <td><input type="text" class="one value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="two value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="three value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="four value" placeholder="输入该分值最低数值"></td>
                            <td><input type="text" class="five value" placeholder="输入该分值最低数值"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="../js/jquery.min.js?v=2.1.4"></script>
<script src="../js/bootstrap.min.js?v=3.3.5"></script>
<script src="../js/content.min.js?v=1.0.0"></script>
<script src="../js/teacher/standard.js"></script>
</body>

</html>