<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>健身俱乐部管理系统</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="css/style.min.css?v=4.0.0" rel="stylesheet">
    <base target="_blank">
    <link href="css/bodybuilder.css" rel="stylesheet">
    <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
        <h2>健身方案（目标：减肥20斤）</h2>
        <ol class="breadcrumb">
            <li>
                <span>方案编号：00001（未生成之前显示暂无）</span>
            </li>
            <li>
                <span>制作者编号：3034534（未生成之前显示暂无）</span>
            </li>
        </ol>
    </div>
    <div class="col-sm-4">
        <div class="title-action">
            <a onClick="showtoast()" class="btn btn-primary">生成健身方案</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>运动方案</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>天数</th>
                            <th>项目</th>
                            <th>负荷</th>
                            <th>时间/间隔</th>
                            <th>组数/次数</th>
                            <th>动作要点</th>
                            <th>注意事项</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td rowspan="2">第1天</td>
                            <td>仰卧起坐</td>
                            <td>20</td>
                            <td>20 / 20</td>
                            <td>10 / 20</td>
                            <td>标准一点</td>
                            <td>尽量做完不要停</td>
                        </tr>
                        <tr>
                            <td>仰卧起坐</td>
                            <td>20</td>
                            <td>20 / 20</td>
                            <td>10 / 20</td>
                            <td>标准一点</td>
                            <td>尽量做完不要停</td>
                        </tr>
                        <tr>
                            <td rowspan="2">第3天</td>
                            <td>仰卧起坐</td>
                            <td>20</td>
                            <td>20 / 20</td>
                            <td>10 / 20</td>
                            <td>标准一点</td>
                            <td>尽量做完不要停</td>
                        </tr>
                        <tr>
                            <td>仰卧起坐</td>
                            <td>20</td>
                            <td>20 / 20</td>
                            <td>10 / 20</td>
                            <td>标准一点</td>
                            <td>尽量做完不要停</td>
                        </tr>
                        <tr>
                            <td rowspan="2">第3天</td>
                            <td>仰卧起坐</td>
                            <td>20</td>
                            <td>20 / 20</td>
                            <td>10 / 20</td>
                            <td>标准一点</td>
                            <td>尽量做完不要停</td>
                        </tr>
                        <tr>
                            <td>仰卧起坐</td>
                            <td>20</td>
                            <td>20 / 20</td>
                            <td>10 / 20</td>
                            <td>标准一点</td>
                            <td>尽量做完不要停</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>饮食方案</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th rowspan="2">天数</th>
                            <th colspan="2">早餐</th>
                            <th colspan="2">中餐</th>
                            <th colspan="2">晚餐</th>
                        </tr>
                        <tr>
                            <th>食物名称</th>
                            <th>食用量</th>
                            <th>食物名称</th>
                            <th>食用量</th>
                            <th>食物名称</th>
                            <th>食用量</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td rowspan="2">第1天</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td rowspan="2">第2天</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>健身注意点</h5>
                </div>
                <div class="ibox-content">
                    <p>巴拉巴拉巴那把爸爸啊</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.5"></script>
<script src="js/content.min.js?v=1.0.0"></script>
<script src="js/plugins/toastr/toastr.min.js"></script>
<script type="text/javascript">
    function showtoast() {

        toastr.options = {
            "closeButton": true,
            "debug": true,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "7000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.info("Hi, welcome to hplus. This is example of Toastr notification box.");
    }
</script>
</body>

</html>