<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="class">
    <resultMap id="BaseResultMap" type="com.health.model.po.Classs">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="TEACHER_NAME" property="teacherName" jdbcType="VARCHAR"/>
        <result column="DAYTIME" property="daytime" jdbcType="VARCHAR"/>
        <result column="PLACE" property="place" jdbcType="VARCHAR"/>
        <result column="CLASS_TIME" property="classTime" jdbcType="VARCHAR"/>
        <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="LONG_TIME" property="longTime" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, NAME, TEACHER_NAME,  DAYTIME, PLACE, CLASS_TIME, END_TIME, LONG_TIME
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from class
        where ID = #{id,jdbcType=INTEGER}
    </select>


    <select id="pageByName" resultMap="BaseResultMap" parameterType="com.health.model.po.Classs">
        select
        <include refid="Base_Column_List"/>
        from class
        <if test="name != null and name !=''">and NAME like CONCAT('%','${name}','%')</if>
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from class
        where ID = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.health.model.po.Classs" useGeneratedKeys="true" keyProperty="id">
        insert into class (ID, NAME, TEACHER_NAME,
         DAYTIME, PLACE,
        CLASS_TIME, END_TIME, LONG_TIME
        )
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{teacherName,jdbcType=VARCHAR},
         #{daytime,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR},
        #{classTime,jdbcType=VARCHAR}, #{endTime,jdbcType=TIMESTAMP}, #{longTime,jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.health.model.po.Classs">
        update class
        <set>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="teacherName != null">
                TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
            </if>
            <if test="daytime != null">
                DAYTIME = #{daytime,jdbcType=VARCHAR},
            </if>
            <if test="place != null">
                PLACE = #{place,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                CLASS_TIME = #{classTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null">
                END_TIME = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="longTime != null">
                LONG_TIME = #{longTime,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.health.model.po.Classs">
        update class
        set NAME = #{name,jdbcType=VARCHAR},
        TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
        DAYTIME = #{daytime,jdbcType=VARCHAR},
        PLACE = #{place,jdbcType=VARCHAR},
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
        LONG_TIME = #{longTime,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <select id="pageByKeyWord" resultMap="BaseResultMap" parameterType="com.health.model.po.Classs">
        select
        <include refid="Base_Column_List"/>
        from class
        where 1=1
        <if test="name != null">
            and NAME LIKE concat('%' , #{name,jdbcType=VARCHAR}, '%')
        </if>

    </select>
</mapper>