<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="classMapper" >
  <resultMap id="BaseResultMap" type="com.health.model.po.Class" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TEACHER_NAME" property="teacherName" jdbcType="VARCHAR" />
    <result column="TEACHER_ID" property="teacherId" jdbcType="INTEGER" />
    <result column="DAYTIME" property="daytime" jdbcType="VARCHAR" />
    <result column="PLACE" property="place" jdbcType="VARCHAR" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="LONG_TIME" property="longTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, TEACHER_NAME, TEACHER_ID, DAYTIME, PLACE, START_TIME, END_TIME, LONG_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from class
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from class
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.health.model.po.Class" >
    insert into class (ID, NAME, TEACHER_NAME, 
      TEACHER_ID, DAYTIME, PLACE, 
      START_TIME, END_TIME, LONG_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{teacherName,jdbcType=VARCHAR}, 
      #{teacherId,jdbcType=INTEGER}, #{daytime,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{longTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.health.model.po.Class" >
    insert into class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="teacherName != null" >
        TEACHER_NAME,
      </if>
      <if test="teacherId != null" >
        TEACHER_ID,
      </if>
      <if test="daytime != null" >
        DAYTIME,
      </if>
      <if test="place != null" >
        PLACE,
      </if>
      <if test="startTime != null" >
        START_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="longTime != null" >
        LONG_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="daytime != null" >
        #{daytime,jdbcType=VARCHAR},
      </if>
      <if test="place != null" >
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longTime != null" >
        #{longTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.health.model.po.Class" >
    update class
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        TEACHER_ID = #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="daytime != null" >
        DAYTIME = #{daytime,jdbcType=VARCHAR},
      </if>
      <if test="place != null" >
        PLACE = #{place,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longTime != null" >
        LONG_TIME = #{longTime,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.health.model.po.Class" >
    update class
    set NAME = #{name,jdbcType=VARCHAR},
      TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      TEACHER_ID = #{teacherId,jdbcType=INTEGER},
      DAYTIME = #{daytime,jdbcType=VARCHAR},
      PLACE = #{place,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      LONG_TIME = #{longTime,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="pageByKeyWord" parameterType="com.health.model.po.Class">
    select
    <include refid="Base_Column_List" />
    from class
    where 1=1
    <if test="longTime != null" >
      and NAME = #{name,jdbcType=VARCHAR}
    </if>

  </select>
</mapper>