<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="item" >
  <resultMap id="BaseResultMap" type="com.health.model.po.Item" >
    <id column="PROGRAM_ID" property="programId" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="LOAD" property="load" jdbcType="DOUBLE" />
    <result column="INTERVAL" property="interval" jdbcType="INTEGER" />
    <result column="NUMBER" property="number" jdbcType="INTEGER" />
    <result column="POINTS" property="points" jdbcType="VARCHAR" />
    <result column="MATTER" property="matter" jdbcType="VARCHAR" />
    <result column="FOOD" property="food" jdbcType="VARCHAR" />
    <result column="EAT_DATE" property="eatDate" jdbcType="VARCHAR" />
    <result column="EAT_NUMBER" property="eatNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PROGRAM_ID, NAME, LOAD, INTERVAL, NUMBER, POINTS, MATTER, FOOD, EAT_DATE, EAT_NUMBER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from item
    where PROGRAM_ID = #{programId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from item
    where PROGRAM_ID = #{programId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.health.model.po.Item" >
    insert into item (PROGRAM_ID, NAME, LOAD, 
      INTERVAL, NUMBER, POINTS, 
      MATTER, FOOD, EAT_DATE, 
      EAT_NUMBER)
    values (#{programId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{load,jdbcType=DOUBLE}, 
      #{interval,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}, #{points,jdbcType=VARCHAR}, 
      #{matter,jdbcType=VARCHAR}, #{food,jdbcType=VARCHAR}, #{eatDate,jdbcType=VARCHAR}, 
      #{eatNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.health.model.po.Item" >
    insert into item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="programId != null" >
        PROGRAM_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="load != null" >
        LOAD,
      </if>
      <if test="interval != null" >
        INTERVAL,
      </if>
      <if test="number != null" >
        NUMBER,
      </if>
      <if test="points != null" >
        POINTS,
      </if>
      <if test="matter != null" >
        MATTER,
      </if>
      <if test="food != null" >
        FOOD,
      </if>
      <if test="eatDate != null" >
        EAT_DATE,
      </if>
      <if test="eatNumber != null" >
        EAT_NUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="programId != null" >
        #{programId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="load != null" >
        #{load,jdbcType=DOUBLE},
      </if>
      <if test="interval != null" >
        #{interval,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="points != null" >
        #{points,jdbcType=VARCHAR},
      </if>
      <if test="matter != null" >
        #{matter,jdbcType=VARCHAR},
      </if>
      <if test="food != null" >
        #{food,jdbcType=VARCHAR},
      </if>
      <if test="eatDate != null" >
        #{eatDate,jdbcType=VARCHAR},
      </if>
      <if test="eatNumber != null" >
        #{eatNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.health.model.po.Item" >
    update item
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="load != null" >
        LOAD = #{load,jdbcType=DOUBLE},
      </if>
      <if test="interval != null" >
        INTERVAL = #{interval,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        NUMBER = #{number,jdbcType=INTEGER},
      </if>
      <if test="points != null" >
        POINTS = #{points,jdbcType=VARCHAR},
      </if>
      <if test="matter != null" >
        MATTER = #{matter,jdbcType=VARCHAR},
      </if>
      <if test="food != null" >
        FOOD = #{food,jdbcType=VARCHAR},
      </if>
      <if test="eatDate != null" >
        EAT_DATE = #{eatDate,jdbcType=VARCHAR},
      </if>
      <if test="eatNumber != null" >
        EAT_NUMBER = #{eatNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where PROGRAM_ID = #{programId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.health.model.po.Item" >
    update item
    set NAME = #{name,jdbcType=VARCHAR},
      LOAD = #{load,jdbcType=DOUBLE},
      INTERVAL = #{interval,jdbcType=INTEGER},
      NUMBER = #{number,jdbcType=INTEGER},
      POINTS = #{points,jdbcType=VARCHAR},
      MATTER = #{matter,jdbcType=VARCHAR},
      FOOD = #{food,jdbcType=VARCHAR},
      EAT_DATE = #{eatDate,jdbcType=VARCHAR},
      EAT_NUMBER = #{eatNumber,jdbcType=VARCHAR}
    where PROGRAM_ID = #{programId,jdbcType=INTEGER}
  </update>
  <select id="pageByKeyWord" parameterType="com.health.model.po.Class">
    select
    <include refid="Base_Column_List" />
    from class
    where 1=1
    <if test="name != null" >
      and NAME LIKE concat('%' , #{name,jdbcType=VARCHAR}, '%')
    </if>
  </select>
</mapper>