<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="program" >
  <resultMap id="BaseResultMap" type="com.health.model.po.Program" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CFMD" property="cfmd" jdbcType="VARCHAR" />
    <result column="TEACHER_ID" property="teacherId" jdbcType="INTEGER" />
    <result column="JSZYD" property="jszyd" jdbcType="VARCHAR" />
    <result column="TEACHER_NAME" property="teacherName" jdbcType="VARCHAR" />
    <result column="DAYS" property="days" jdbcType="INTEGER" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="NO" property="no" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CFMD, TEACHER_ID, JSZYD, TEACHER_NAME, DAYS, CREATE_DATE,NO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from program
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="page" resultMap="BaseResultMap" parameterType="com.health.model.po.Program" >
    select 
    <include refid="Base_Column_List" />
    from program
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from program
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.health.model.po.Program" >
    insert into program (ID, CFMD, TEACHER_ID, 
      JSZYD, TEACHER_NAME, DAYS, 
      CREATE_DATE,NO)
    values (#{id,jdbcType=INTEGER}, #{cfmd,jdbcType=VARCHAR}, #{teacherId,jdbcType=INTEGER}, 
      #{jszyd,jdbcType=VARCHAR}, #{teacherName,jdbcType=VARCHAR}, #{days,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP},#{no,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.health.model.po.Program" >
    insert into program
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="cfmd != null" >
        CFMD,
      </if>
      <if test="teacherId != null" >
        TEACHER_ID,
      </if>
      <if test="jszyd != null" >
        JSZYD,
      </if>
      <if test="teacherName != null" >
        TEACHER_NAME,
      </if>
      <if test="days != null" >
        DAYS,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cfmd != null" >
        #{cfmd,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="jszyd != null" >
        #{jszyd,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="days != null" >
        #{days,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.health.model.po.Program" >
    update program
    <set >
      <if test="cfmd != null" >
        CFMD = #{cfmd,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        TEACHER_ID = #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="jszyd != null" >
        JSZYD = #{jszyd,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="days != null" >
        DAYS = #{days,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.health.model.po.Program" >
    update program
    set CFMD = #{cfmd,jdbcType=VARCHAR},
      TEACHER_ID = #{teacherId,jdbcType=INTEGER},
      JSZYD = #{jszyd,jdbcType=VARCHAR},
      TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      DAYS = #{days,jdbcType=INTEGER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>