<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="standard" >
  <resultMap id="BaseResultMap" type="com.health.model.po.Standard" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="CHAR" />
    <result column="START_AGE" property="startAge" jdbcType="INTEGER" />
    <result column="END_AGE" property="endAge" jdbcType="INTEGER" />
    <result column="ONE" property="one" jdbcType="DOUBLE" />
    <result column="TWO" property="two" jdbcType="DOUBLE" />
    <result column="THREE" property="three" jdbcType="DOUBLE" />
    <result column="FOUR" property="four" jdbcType="DOUBLE" />
    <result column="FIVE" property="five" jdbcType="DOUBLE" />
    <result column="NUM" property="num" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, SEX, START_AGE, END_AGE, ONE, TWO, THREE, FOUR, FIVE,NUM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from standards
    where NAME = #{name,jdbcType=VARCHAR}
  </select>
  

  <select id="list" resultMap="BaseResultMap" parameterType="com.health.model.po.Standard" >
    select 
    <include refid="Base_Column_List" />
    from (select * from standard where  START_AGE &lt; #{startAge,jdbcType=INTEGER} and SEX = #{sex,jdbcType=CHAR} order by id DESC ) as t
    group by NAME order by NUM
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from standard
    where NAME = #{name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.health.model.po.Standard" >
    insert into standard (ID, NAME, SEX, START_AGE, 
      END_AGE, ONE, TWO, THREE, 
      FOUR, FIVE)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{startAge,jdbcType=INTEGER}, 
      #{endAge,jdbcType=INTEGER}, #{one,jdbcType=DOUBLE}, #{two,jdbcType=DOUBLE}, #{three,jdbcType=DOUBLE}, 
      #{four,jdbcType=DOUBLE}, #{five,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.health.model.po.Standard" >
    insert into standard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="startAge != null" >
        START_AGE,
      </if>
      <if test="endAge != null" >
        END_AGE,
      </if>
      <if test="one != null" >
        ONE,
      </if>
      <if test="two != null" >
        TWO,
      </if>
      <if test="three != null" >
        THREE,
      </if>
      <if test="four != null" >
        FOUR,
      </if>
      <if test="five != null" >
        FIVE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="startAge != null" >
        #{startAge,jdbcType=INTEGER},
      </if>
      <if test="endAge != null" >
        #{endAge,jdbcType=INTEGER},
      </if>
      <if test="one != null" >
        #{one,jdbcType=DOUBLE},
      </if>
      <if test="two != null" >
        #{two,jdbcType=DOUBLE},
      </if>
      <if test="three != null" >
        #{three,jdbcType=DOUBLE},
      </if>
      <if test="four != null" >
        #{four,jdbcType=DOUBLE},
      </if>
      <if test="five != null" >
        #{five,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.health.model.po.Standard" >
    update standard
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=CHAR},
      </if>
      <if test="startAge != null" >
        START_AGE = #{startAge,jdbcType=INTEGER},
      </if>
      <if test="endAge != null" >
        END_AGE = #{endAge,jdbcType=INTEGER},
      </if>
      <if test="one != null" >
        ONE = #{one,jdbcType=DOUBLE},
      </if>
      <if test="two != null" >
        TWO = #{two,jdbcType=DOUBLE},
      </if>
      <if test="three != null" >
        THREE = #{three,jdbcType=DOUBLE},
      </if>
      <if test="four != null" >
        FOUR = #{four,jdbcType=DOUBLE},
      </if>
      <if test="five != null" >
        FIVE = #{five,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.health.model.po.Standard" >
    update standard
    set NAME = #{name,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=CHAR},
      START_AGE = #{startAge,jdbcType=INTEGER},
      END_AGE = #{endAge,jdbcType=INTEGER},
      ONE = #{one,jdbcType=DOUBLE},
      TWO = #{two,jdbcType=DOUBLE},
      THREE = #{three,jdbcType=DOUBLE},
      FOUR = #{four,jdbcType=DOUBLE},
      FIVE = #{five,jdbcType=DOUBLE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>